.profile{width:100%;background-color:teal;padding:45px 0px;text-align: center;}
.profile fa-icon{font-size:8.0em;color:#fff}
.profile p{color:#f3f3f3}
.error-message{color:#ff0000;font-size:12px}
input[type="text"]{width:70%;padding:10px;border-radius: 0px;}
.input-group-text{background-color: transparent !important;border-radius: 0px;}
.home-icon{background-color: teal;color:#fff;padding:5px}
